html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* 設定整個畫面的容器樣式，置中顯示內容 */
.container {
             /* 滿版高度 */
  box-sizing: border-box; /* 包含邊框和內邊距 */
  padding: 2rem;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color:rgb(237, 178, 178);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(53, 48, 48, 0.6);
  max-width: 800px;
  margin: 0 auto;
  padding: 4rem 3rem;
}


/* 滑鼠移到按鈕時變深藍 */
.record-button:hover {
  background-color: #0056b3;
}

/* 顯示訊息的樣式 */
.message {
  margin-top: 1rem;
  font-size: 18px;
  color: #333;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
